body {
  padding-top: 70px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/stars-1869692_1920.jpg");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  min-height: 100vh;
}

.main-nav {
  background-color: #6610f2;
}

.title-font {
  font-family: "Chewy", system-ui;
}