body {
  padding-top: 70px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/stars-1869692_1920.jpg");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  min-height: 100vh;
}

.hero {
  margin-top: 100px;
}

.main-nav {
  background-color: #6610f2;
}

.main-img-container {
  background-color: black;

  border: 5px solid white;
  border-radius: 50%;
} 

.main-profile-img {
  height: 150px;
  width: 150px;
}

.main-greeting-container {
  margin-top: 10px;

  font-family: "Chewy", system-ui;
}

